/* Base styles (light mode as default) */
body {
  background-color: #ffffff;
  color: #111111;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
    color: #ffffff;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

/* For modern browsers */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #363636; /* Light background for contrast */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #bcff9d;
    border-radius: 10px;
    border: 2px solid #363636; /* For a soft inner border */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a6f07c; /* Slightly darker on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #bcff9d #363636;
  }
  
